@page
@model RoomAllocation3.Pages.Rooms.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Rooms</h1>




<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.BlockSort">
                    Block
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.RoomNumberSort">
                    Room Number
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Rooms)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Block)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.RoomID">Bookings</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@{
    var prevDisabled = !Model.Rooms.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Rooms.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Rooms.PageIndex - 1)"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Rooms.PageIndex + 1)"
   class="btn btn-primary @nextDisabled">
    Next
</a>
